In [30]:
# import data from the csv file  F:\university\UIUC\24SPRING\datathon\file_3_Mar18_Output_1.csv 
import pandas as pd
import numpy as np

data = pd.read_csv('F:/university/UIUC/24SPRING/datathon/file_3_Mar18_Output_1.csv')

In [35]:
# extract only first 10000 rows
data_test = data.iloc[:10000]

In [32]:
# check the first column
print(data_test.columns)

Index(['timestamp_call_key', 'retailer_code', 'serial', 'reason', 'mos',
       'resolved', 'no_of_accounts_with_syf_13_march',
       'account_balance_13_march', 'delinquency_history_13_march',
       'account_open_date_13_march', 'account_status_13_march',
       'card_activation_status_13_march', 'eservice_ind_13_march',
       'ebill_enrolled_status_13_march', 'auto_pay_enrolled_status_13_march',
       'no_of_accounts_with_syf_18_march', 'account_balance_18_march',
       'delinquency_history_18_march', 'account_open_date_18_march',
       'account_status_18_march', 'card_activation_status_18_march',
       'eservice_ind_18_march', 'ebill_enrolled_status_18_march',
       'auto_pay_enrolled_status_18_march'],
      dtype='object')

In [37]:
print(data_test['resolved'])

# assign all the entries in the column 'resolved' to 0 and 'floor' to 1
data_test['resolved'] = data_test['resolved'].map({'resolved': 0, 'floor': 1})

0       resolved
1          floor
2       resolved
3       resolved
4          floor
          ...
9995    resolved
9996    resolved
9997    resolved
9998    resolved
9999    resolved
Name: resolved, Length: 10000, dtype: object

C:\Users\DELL\AppData\Local\Temp\ipykernel_808\12104757.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_test['resolved'] = data_test['resolved'].map({'resolved': 0, 'floor': 1})

In [38]:
print(data_test['resolved'])

0       0
1       1
2       0
3       0
4       1
       ..
9995    0
9996    0
9997    0
9998    0
9999    0
Name: resolved, Length: 10000, dtype: int64

In [39]:
# the statistics of the null values in the data
data_test.isnull().sum()

timestamp_call_key                      0
retailer_code                           0
serial                                  0
reason                                  0
mos                                     0
resolved                                0
no_of_accounts_with_syf_13_march       27
account_balance_13_march              763
delinquency_history_13_march            0
account_open_date_13_march              0
account_status_13_march              9736
card_activation_status_13_march         0
eservice_ind_13_march                   0
ebill_enrolled_status_13_march         16
auto_pay_enrolled_status_13_march       0
no_of_accounts_with_syf_18_march       27
account_balance_18_march              708
delinquency_history_18_march            0
account_open_date_18_march              0
account_status_18_march              9577
card_activation_status_18_march         0
eservice_ind_18_march                   0
ebill_enrolled_status_18_march         19
auto_pay_enrolled_status_18_march       0
dtype: int64

In [40]:
# only extract the columns that have numerical values
data_test = data_test.select_dtypes(include=[np.number])

In [43]:
data_test  = data_test .fillna(data_test .mean())

In [44]:
data_test.isnull().sum()

serial                               0
resolved                             0
no_of_accounts_with_syf_13_march     0
account_balance_13_march             0
eservice_ind_13_march                0
auto_pay_enrolled_status_13_march    0
no_of_accounts_with_syf_18_march     0
account_balance_18_march             0
eservice_ind_18_march                0
auto_pay_enrolled_status_18_march    0
dtype: int64

In [46]:
# the the number of 0 and 1 in the column 'resolved'
data_test['resolved'].value_counts()

resolved
0    8202
1    1798
Name: count, dtype: int64

In [48]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE
import numpy as np

# Assuming 'data_test' is your DataFrame and it's already been loaded.

X = data_test.drop('resolved', axis=1)
y = data_test['resolved']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Applying SMOTE to balance the training dataset
smote = SMOTE(random_state=42)
X_train_balanced, y_train_balanced = smote.fit_resample(X_train, y_train)

# show the number of 0 and 1 in the balanced dataset
print(y_train_balanced.value_counts())

# Training the RandomForestClassifier on the balanced dataset
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train_balanced, y_train_balanced)
y_pred = clf.predict(X_test)

# Evaluating the model's accuracy
print(accuracy_score(y_test, y_pred))

# Printing the importance of each feature in the model
importances = clf.feature_importances_
indices = np.argsort(importances)[::-1]

for f in range(X.shape[1]):
    print(f'{X.columns[indices[f]]}: {importances[indices[f]]}')

c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

resolved
0    6562
1    6562
Name: count, dtype: int64
0.766
serial: 0.23927074214402752
no_of_accounts_with_syf_13_march: 0.22277625089614544
no_of_accounts_with_syf_18_march: 0.21788995770103703
account_balance_18_march: 0.14935578116398696
account_balance_13_march: 0.14637604272441845
eservice_ind_13_march: 0.010465108637597151
eservice_ind_18_march: 0.010312284320665608
auto_pay_enrolled_status_18_march: 0.001980088859557399
auto_pay_enrolled_status_13_march: 0.001573743552564565

c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
c:\Users\DELL\.conda\envs\jyq\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [21]:
# timestamp_call_key is not useful for the analysis
data_test = data_test.drop('timestamp_call_key', axis=1)

In [22]:
data_test.describe()

,serial,no_of_accounts_with_syf_13_march,account_balance_13_march,eservice_ind_13_march,auto_pay_enrolled_status_13_march,no_of_accounts_with_syf_18_march,account_balance_18_march,eservice_ind_18_march,auto_pay_enrolled_status_18_march
count,1.000000e+04,9973.000000,9237.000000,10000.000000,10000.000000,9973.000000,9292.00000,10000.000000,10000.000000
mean,1.000570e+10,5.074401,1177.105499,0.429000,0.015000,5.083225,1174.83398,0.433600,0.015300
std,5.768794e+06,3.657257,1788.016982,0.494958,0.121559,3.658273,1787.25807,0.495596,0.122749
min,1.000100e+10,1.000000,-1025.050000,0.000000,0.000000,1.000000,-1125.69000,0.000000,0.000000
25%,1.000204e+10,2.000000,109.960000,0.000000,0.000000,2.000000,107.96000,0.000000,0.000000
50%,1.000310e+10,4.000000,457.400000,0.000000,0.000000,4.000000,453.68000,0.000000,0.000000
75%,1.000702e+10,7.000000,1483.260000,1.000000,0.000000,7.000000,1487.90750,1.000000,0.000000
max,1.004200e+10,46.000000,21088.360000,1.000000,1.000000,46.000000,21088.36000,1.000000,1.000000

In [25]:
# change the string values to numerical values
df = data_test.copy()

# Define a function to convert dates to a numerical format (Unix timestamp)
def convert_date_to_timestamp(date_str):
    try:
        return pd.Timestamp(date_str).timestamp()
    except:
        return np.nan  # Return NaN for any conversion errors

# Convert date columns
date_columns = [col for col in df.columns if 'date' in col]
for col in date_columns:
    df[col] = df[col].apply(convert_date_to_timestamp)

# Convert empty strings to NaN and try to convert all columns to numeric, if possible
df = df.replace('', np.nan).apply(pd.to_numeric, errors='ignore')

# Display the modified DataFrame
df.head()

,retailer_code,serial,reason,mos,resolved,no_of_accounts_with_syf_13_march,account_balance_13_march,delinquency_history_13_march,account_open_date_13_march,account_status_13_march,...,auto_pay_enrolled_status_13_march,no_of_accounts_with_syf_18_march,account_balance_18_march,delinquency_history_18_march,account_open_date_18_march,account_status_18_march,card_activation_status_18_march,eservice_ind_18_march,ebill_enrolled_status_18_march,auto_pay_enrolled_status_18_march
0,D,10010009499,PP,IA PP TR,resolved,1.0,NaN,[00],1.368922e+09,NaN,...,0,1.0,NaN,[00],1.368922e+09,NaN,0,1,E,0
1,E,10006021998,BA,IA BA TS nl TR,floor,2.0,143.28,[00],1.064189e+09,NaN,...,0,2.0,143.28,[00],1.064189e+09,NaN,0,1,E,0
2,J,10016007830,PT,IA AA BA MR nl PT TR,resolved,12.0,0.00,[00],1.504483e+09,NaN,...,0,12.0,0.00,[00],1.504483e+09,NaN,8,0,,0
3,E,10008003199,BA,IA BA,resolved,2.0,44.98,[00],1.707264e+09,NaN,...,0,2.0,-6.32,[00],1.707264e+09,NaN,0,0,L,0
4,I,10013002037,BA,IA BA TS nl mm TR,floor,6.0,7.00,[00],1.641082e+09,NaN,...,0,6.0,7.00,[00],1.641082e+09,NaN,0,1,,0

In [26]:
df = df.apply(pd.to_numeric)

ValueError: Unable to parse string "D" at position 0

In [19]:
# fill the null values with the mean of the column
df = df.fillna(df.mean())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
df.describe()

,serial,no_of_accounts_with_syf_13_march,account_balance_13_march,account_open_date_13_march,eservice_ind_13_march,auto_pay_enrolled_status_13_march,no_of_accounts_with_syf_18_march,account_balance_18_march,account_open_date_18_march,eservice_ind_18_march,auto_pay_enrolled_status_18_march
count,1.000000e+04,9973.000000,9237.000000,1.000000e+04,10000.000000,10000.000000,9973.000000,9292.00000,1.000000e+04,10000.000000,10000.000000
mean,1.000570e+10,5.074401,1177.105499,1.536766e+09,0.429000,0.015000,5.083225,1174.83398,1.536766e+09,0.433600,0.015300
std,5.768794e+06,3.657257,1788.016982,1.934093e+08,0.494958,0.121559,3.658273,1787.25807,1.934093e+08,0.495596,0.122749
min,1.000100e+10,1.000000,-1025.050000,-5.270400e+07,0.000000,0.000000,1.000000,-1125.69000,-5.270400e+07,0.000000,0.000000
25%,1.000204e+10,2.000000,109.960000,1.469405e+09,0.000000,0.000000,2.000000,107.96000,1.469405e+09,0.000000,0.000000
50%,1.000310e+10,4.000000,457.400000,1.597622e+09,0.000000,0.000000,4.000000,453.68000,1.597622e+09,0.000000,0.000000
75%,1.000702e+10,7.000000,1483.260000,1.664928e+09,1.000000,0.000000,7.000000,1487.90750,1.664928e+09,1.000000,0.000000
max,1.004200e+10,46.000000,21088.360000,1.710115e+09,1.000000,1.000000,46.000000,21088.36000,1.710115e+09,1.000000,1.000000